<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/reset.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>

<body style="background-color: {{ bgc }};">
    <header>
        <div class="container">
            <a class="logo" href="{{url_for('index')}}">PythonProwess</a>
            <nav>
                {% if current_user.is_authenticated %}
                <a href="{{url_for('logout')}}">{{ current_user.name }}</a>
                {% else %}
                <a href="{{url_for('register')}}">Вход</a>
                <a href="{{url_for('login')}}">Регистрация</a>
                {% endif %}
            </nav>
        </div>

    </header>
    <main role="main" class="container ">
        {% block content %}
        {% endblock %}
    </main>
    <div class="footer">
    </div>
</body>

</html>