{% extends "base.html" %}

{% block content %}
<div class="form-container">
    <h1>Авторизация</h1>


    <form action="" method="post">
        <div class="form-section">
            {{ form.hidden_tag() }}
            <div>
                {{ form.email(class="form-control", type="email", placeholder="EMAIL") }}
                {% for error in form.email.errors %}

                <span>
                    {{ error }}
                </span>
                {% endfor %}
            </div>


            <div>
                {{ form.password(class="form-control", type="password", placeholder="ПАРОЛЬ") }}
                {% for error in form.password.errors %}
                <span>
                    {{ error }}

                </span>
                {% endfor %}
            </div>
            <label class="checkbox style-b">
                {{ form.remember_me() }}
                <div class="checkbox__checkmark"></div>
                <div class="checkbox__body">ЗАПОМНИТЬ МЕНЯ</div>
            </label>
            

        </div>
        <a>{{ form.submit(type="submit", class="go-button") }}</a>
        <p>{{ message }}</p>
    </form>

</div>

{% endblock %}