{% extends "base.html" %}

{% block content %}

<div class="answers-container">
    {% for elem in result %}
    <div class="answer">

        <p class="question">{{ elem[0] }}</p>
        <p>Ваш ответ: {{elem[2]}}</p>
        <p>Правильный ответ: {{elem[1]}}</p>
 
     {% if elem[2] == elem[1] %}
 
     <p class="correct">верно</p>
     {% else %}
 
     <p class="wrong">неверно</p>
     {% endif %}
    </div>
    
     {% endfor %}
    
    <p class="cnt">количество правильных ответов: {{ cnt }}</p>
    <a href="{{url_for('informatics')}}" class="go-button again">ПРОЙТИ ТЕСТ ЕЩЕ РАЗ</a>
</div>

{% endblock %}